.axis path, .axis line {
    fill: none;
    stroke: #CCC;
}

.monthAxis path, .monthAxis line {
    fill: none;
    stroke: #CCC;
}

.monthAxis text{
    text-anchor: start !important;
    font-size: 20px;
}

rect {
    fill: #fff;
}
.ganttGraph{
    width: 100%;
    height: 100%;
}
text {
    font-size: 11px;
}

rect.taskRange {
    fill: #5d588a;
    stroke: #000;
    stroke-width: 0.5;
}

rect.taskRangeRed {
    fill: #ff384a;
    stroke: #000;
    stroke-width: 0.5;
}

rect.taskRangeBlue {
    fill: #2328ff;
    stroke: #000;
    stroke-width: 0.5;
}

rect.taskRangeGreen {
    fill: #23af2f;
    stroke: #000;
    stroke-width: 0.5;
}

rect.taskRangeYellow {
    fill: #b0b020;
    stroke: #000;
    stroke-width: 0.5;
}

rect.taskRangeCyan {
    fill: #20b0b0;
    stroke: #000;
    stroke-width: 0.5;
}

rect.taskRangeMagenta {
    fill: #b020b0;
    stroke: #000;
    stroke-width: 0.5;
}

rect.taskRangeGray {
    fill: #a0a0a0;
    stroke: #000;
    stroke-width: 0.5;
}

rect.event {
    fill: url(#gradient);
}
rect.saturdayBackground{
    fill: #E6ECFF;
}

rect.sundayBackground{
    fill: #FFDEDE;
}

rect.holidayBackground{
    fill: #FFDEDE;
}

.taskName{
    font-size: 13px;
}

.sectionName{
    font-size: 18px;
}

.subsectionName{
    font-size: 13px;
    text-decoration: underline;
}

rect.comparedTaskRange {
    fill: #ffff99;
    stroke: #000;
    stroke-width: 0.3;
    stroke-dasharray: 12 3;
}
